@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
*{
margin: 0;
box-sizing: border-box;
padding: 0;
font-family: 'Syne Mono', monospace;
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 28px;
    margin-right: 40px;
    
}
#logo img{
height: 42px;
filter: invert(1);
}
#navbar{
    background-color: #d43b3b;
   
    padding: 13px 14px;
}
#navbar ul{
    display: flex;
    flex-direction: row;
     justify-content: center;
    align-items: center;
}
#navbar li{
    list-style: none;
}
#navbar li a{ 
    text-decoration: none;
     padding: 13px 20px;
     font-size: 23px;
     color: aliceblue;
 }
 #navbar li a:hover{
    color: black;  
}
 #introSection{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 50px;
    align-items: center;
    background: center/cover no-repeat url("/static/bg.jpg") ;
    height: 425px;
    padding-bottom: 139px;
}
#introSection div.small{
    font-size: 38px;
    padding: 5px;
}
#missionSection{
    height: 326px;
    width: 100%;
    margin: auto;
    background-color: #e2aeae;

}
#missionSection h2{
    font-size: 36px;
    text-align: center;
    padding-top: 12px;
    color: white;
}
.card h3{
    text-align: center;
    margin: 0 38px;
    margin-top: 24px;
    color: black;

}
.card{
    border: 2px solid black;
    border-radius: 10px;
    width: 29%;
    margin: 23px 20px;
    height: 209px;
    display: inline-block;
    background-color: lightcoral;
    
  
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 131px;
    padding: 0 14px;
    margin: 5px 9px;
}
.card-img img{
    height: inherit; 
}
.card-content p{
    font-size: large;
    font-weight: 200;
    color: white;
}
#sponsorsSection{
    
    background-color:rgb(68, 52, 52);
    
    height: 220px;  
    text-align: center;
}

#sponsorsSection h2{
    font-size: 36px;
    
    text-align: center;
    padding-top: 12px;
    color:white;
}
#sponsors{

    height: 180px;
    margin: 20px 35px;
}
.spImage{
    height: 130px;
    margin: 8px 50px;
    padding: 0px 20px;
}
#footer{
    background-color: black;
    height: 55px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer{
    color: white;
    padding: 0px 70px;
}