doctype html
html
  head
    title USMAN DANCE ACCADMY
    block scripts
    block style
  body
    nav#navbar
        ul
        div#logo
            img(src="/static/img/logo.png")
            | UDA
            li #[a(href= "/") Home]   
            li #[a(href= "/") Services] 
            li #[a(href= "/") Class Info] 
            li #[a(href= "/") About] 
            li #[a(href= "/") Contact Us]
    block content
    footer#footer
        p.footer www.usmandanceaccadmy.com
        p.footer All right reserved
        p.footer FB: Raja Usman Kiyani
        p.footer Whatsapp: 03175001384